{% extends 'templates/layouts/base.twig' %}

{% block content %}
    <header class="hero-image__wrapper">
        <picture class="hero-image__pic">
            <img src="{{ post.thumbnail('lazy-thumbnail') }}" data-djc-lazy="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" title="{{ post.thumbnail.title }}">
        </picture>
    </header>
    <main id="app">
        {% for row in post.get_field('layout') %}
            {% if row.gray_background %}<section class="bg-grey">{% endif %}
            <div class="container mx-auto px-4 lg:px-0">
                {% include
                    row.image_left ? 'templates/parts/content-page-left.twig' : 'templates/parts/content-page.twig'
                    with {
                    title: row.title,
                    img: row.image? row.image.src : '//via.placeholder.com/800x500',
                    post_content: row.content,
                    image_background: row.secondary_background ? 'secondary' : 'primary'
                } only
                %}
            </div>
            {% if row.gray_background %}</section>{% endif %}
        {% endfor %}
    </main>
{% endblock %}
