<div class="md:flex py-8 lg:py-24">
    <div class="md:w-1/2 md:mr-8">
        <title-striped :classes="['mb-4']">
            {{ title?? '' }}
        </title-striped>
        {{ post_content|wpautop }}
    </div>
    <div class="md:w-1/2 mt-8 lg:mt-0">
        <image-shadow img="{{ img }}"></image-shadow>
    </div>
</div>
